<p id="notice"><%= notice %></p>

<p>
  <strong>Symptoms:</strong>
  <%= @note.symptoms %>
</p>

<p>
  <strong>Appointments:</strong>
  <%= @note.appointments_id %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
